# Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
